<main class="admin-dashboard container">
  <div class="section-header">
    <span>Panel de Control</span>
    <h2>Gestión del Hotel</h2>
  </div>

  <div class="admin-grid">
    <a class="admin-card" routerLink="/services">
      <i class="ph ph-briefcase main-icon"></i>
      <h3>Servicios</h3>
    </a>

    <a class="admin-card" routerLink="/admin/rooms">
      <i class="ph ph-bed main-icon"></i>
      <h3>Habitaciones</h3>
    </a>

    <a class="admin-card" routerLink="/roomtypes">
      <i class="ph ph-tag main-icon"></i>
      <h3>Tipos de habitación</h3>
    </a>

    <a class="admin-card" routerLink="/admin/operators">
      <i class="ph ph-user-gear main-icon"></i>
      <h3>Operadores</h3>
    </a>

    <a class="admin-card" routerLink="/admin/users">
      <i class="ph ph-users main-icon"></i>
      <h3>Clientes</h3>
    </a>

    <a class="admin-card" routerLink="/admin/reservations">
      <i class="ph ph-calendar-check main-icon"></i>
      <h3>Reservaciones</h3>
    </a>
  </div>
</main>
