<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Administración | Mira Mar</title>
    <link rel="icon" type="image/png" href="/images/Mira Mar logo Blanco.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body class="page-admin">
    <nav id="navbar">
      <div class="container nav-container">
        <a href="/" class="logo">
          <img
            id="nav-logo"
            src="/images/Mira Mar logo.png"
            alt="Mira Mar logo"
            width="120"
          />
        </a>
        <ul class="nav-links">
          <a href="/login-page" class="user-login-link">
            <img
              id="nav-user-icon"
              src="/images/usuarioNegro.png"
              alt="Foto de perfil"
              class="profile-img"
            />
          </a>
        </ul>
        <div class="hamburger">
          <i class="ph ph-list"></i>
        </div>
      </div>
    </nav>

    <main class="admin-dashboard container">
      <div class="section-header">
        <span>Panel de Control</span>
        <h2>Gestión del Hotel</h2>
      </div>

      <div class="admin-grid">
        <a class="admin-card" href="/admin/usuarios">
          <i class="ph ph-users main-icon"></i>
          <h3>Clientes</h3>
        </a>

        <a class="admin-card" href="/admin/servicios">
          <i class="ph ph-briefcase main-icon"></i>
          <h3>Servicios</h3>
        </a>

        <a class="admin-card" href="/admin/habitaciones">
          <i class="ph ph-bed main-icon"></i>
          <h3>Habitaciones</h3>
        </a>

        <a class="admin-card" href="/admin/tipos-habitacion">
          <i class="ph ph-tag main-icon"></i>
          <h3>Tipo de habitación</h3>
        </a>
      </div>
    </main>

    <script src="/js/script.js"></script>
  </body>
</html>
