<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error | Mira Mar</title>
    <link rel="icon" type="image/png" href="/images/Mira Mar logo Blanco.png" />

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/error/error.css">
</head>

<body>

<div class="error-card">

    <p class="error-code">Ups..</p>

    <h1 class="error-title">
        Ha ocurrido un error
    </h1>

    <p class="error-text" th:if="${mensaje}" th:text="${mensaje}">
        La solicitud no pudo completarse correctamente.
        Intenta nuevamente o vuelve a la página principal.
    </p>

    <p class="error-text" th:unless="${mensaje}">
        La solicitud no pudo completarse correctamente.
        Intenta nuevamente o vuelve a la página principal.
    </p>

    <div class="error-actions">

        <a href="/" class="btn-error btn-primary-error">
            Ir al inicio
        </a>

        <a href="/login-page" class="btn-error btn-secondary-error">
            Ir al login
        </a>

    </div>

</div>

</body>
</html>
