<div th:fragment="navbar">
      <nav id="navbar">
        <div class="container nav-container">
          <a href="/" class="logo">
            <img
              id="nav-logo"
              src="/images/Mira Mar logo Blanco.png"
              alt="Mira Mar logo"
              width="120"
              data-default="/images/Mira Mar logo Blanco.png"
              data-scrolled="/images/Mira Mar logo.png"
            />
          </a>
          <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/rooms">Suites</a></li>
            <li><a href="/services/cards">Servicios</a></li>
            <li th:if="${session.usuarioLogueado != null and (session.usuarioLogueado.rol == 'ADMIN' or session.usuarioLogueado.rol == 'OPERADOR')}">
            <a href="/usuarios" class="active">Usuarios</a></li>
            <li><a href="/#contact">Contacto</a></li>
            <li class="profile-dropdown-item">
              <a th:href="${session.usuarioLogueado != null} ? @{/perfil} : @{/login-page}" class="user-login-link">
                <img
                    id="nav-user-icon"
                    src="/images/usuarioBlanco.png"
                    data-default="/images/usuarioBlanco.png"
                    data-scrolled="/images/usuarioNegro.png"
                    alt="Foto de perfil"
                    class="profile-img"/>
              </a>
            </li>
          </ul>
          <div class="hamburger">
            <i class="ph ph-list"></i>
          </div>
        </div>
      </nav>
    </div>
